site_name: Roman Strong Lens Data Challenge

theme:
  name: readthedocs
  highlightjs: true

nav:
- index.md
- data_challenges.md
- getting_started.md
- submissions.md
- running_mejiro.md

plugins:
  - search
  - include-markdown
  - mkdocstrings:
      handlers:
        # See: https://mkdocstrings.github.io/python/usage/
        python:
          options:
            docstring_style: sphinx

markdown_extensions:
  - markdown_include.include:
      base_path: .
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem

extra_javascript:
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6